main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  background-image:  url('./assets/imagem_churras.jpg');
  background-position: center;
}

.countdown-container {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.countdown-container > p {
  max-width: 50vw;
  height: auto;
  padding: 2rem;
  border: .2rem solid black;
  background: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.countdown-container > audio {
  max-width: 80vw;
  border-radius: 2rem;
}

.countdown-container > div {
  margin: 7px;
  padding: 70px;
  background-image:  url('./assets/butao.png');
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-color: rgb(000, 000, 152, 0.8);
  border-radius: 50%;
}

.countdown-container > div:hover {
  cursor: pointer;
  background-color: rgb(000, 000, 152, 0.95);
  transform: scale(1.1);
}